<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192636466176-ncv00m7dt3n00kteo9k5r61gsgcovnrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192636466176-ncv00m7dt3n00kteo9k5r61gsgcovnrm</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlAjvQEMIgGJpGvIQNcxFNlk-qJt7bY0</string>
	<key>GCM_SENDER_ID</key>
	<string>192636466176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sigmun.app</string>
	<key>PROJECT_ID</key>
	<string>sigmun-affc0</string>
	<key>STORAGE_BUCKET</key>
	<string>sigmun-affc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192636466176:ios:5b3b887345beac7951d4e5</string>
</dict>
</plist>